@media only screen and (max-width:480px) {
    .calculator{
        top: 140px;
        right: 20px;
        width: 320px;
    }
    .container1 h1{
        font-size: 45px;
        margin-top: 30px;
        margin-left: 15px;
    }
}